@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:300,400);
@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700,900);

* {
    margin: 0;
    padding: 0;
}

html,
body {
    margin-top: 20px;
    height: 100%;
    font-family: Lato;
}

/**************** STYLING ****************/

a {
    color: #a6cfd5;
    font-family: Lato;
}

h1 {
    color: aliceblue;
    font-family: Lato;
    font-weight: 500;
    font-size: 3.6em;
    text-align: center;
}

h3 {
    color: #a6cfd5;
    font-family: Lato;
    font-weight: 200;
    font-size: 1.4em;
    text-align: center;
}

h4 {
    color: aliceblue;
    font-family: Lato;
    font-weight: 400;
    font-size: 1.4em;
    text-align: center;
    letter-spacing: 0.05em;
    line-height: 1.5em;
}

button {
    border-bottom-width: 0;
    border-radius: 0.3em;
    padding: 5px 10px;
    margin: 5px;
    background-color: aliceblue;
    border-style: none;
}

button:hover {
    background-color: #a6cfd5;
    cursor: pointer;
}

.titleBtns {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.glyphicon-chevron-down {
    color: #a6cfd5;
    opacity: 0.5;
}

.glyphicon-chevron-down:hover {
    color: #a6cfd5;
    opacity: 1;
    cursor: pointer;
}

/**************** NAV ****************/

.nav-link.active {
    color: aliceblue !important;
    background-color: #02394a;
}

.navbar {
    padding-bottom: 0;
    padding-top: 0;
}

.nav-link {
    color: #043565 !important;
    font-weight: 600;
}

.navbar-brand {
    font-weight: 600;
    color: dimgray !important;
}

.navbar-expand-lg .navbar-nav > li > a:hover {
    color: dimgrey !important;
}


.fa-user-plus,
.fa-sign-in-alt {
    color: #043565;
    padding-right: 3px;
}

.logo {
    height: 25px;
}

/**************************************** MOBILE VERSION ****************************************/

/**************** TITLE ****************/

@media screen and (min-width:250px) {
    .title {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: "title1" "title2" "title3" "scroll";
        grid-area: title;
        background-image: url('IMG/Landing-page.jpg');
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        /*    justify-self: center, start, end*/
        /*    align-self: center, start, end*/
    }

    .title1 {
        grid-area: title1;
        justify-self: center;
        align-self: center;
    }

    .title2 {
        grid-area: title2;
        justify-self: center;
        align-self: start;
        content: url('IMG/avatar.png');
        height: 150px;
        animation: bounce 1s infinite alternate;
        -webkit-animation: bounce 1s infinite alternate;
    }

    .title3 {
        grid-area: title3;
        justify-self: center;
        align-self: top;
        margin-left: 50px;
        margin-right: 50px;
        max-width: 600px;
    }

    .scroll {
        grid-area: scroll;
        justify-self: center;
        align-self: end;
        margin-bottom: 50px;
    }

    /*@media (max-width: 5000px) {
            .title3{
            display: none;
                }}

            @media (max-width: 1080px) {
            .title3{
            display: block;
                }}*/
    @media (max-width: 1079px) {
        .titleBtns {
            display: none;
            visibility: hidden;
        }
    }

    @media (max-width: 1079px) {
        .greeting {
            display: none;
            visibility: hidden;
        }
    }

    @keyframes bounce {
        from {
            transform: translateY(0px);
        }
        to {
            transform: translateY(-15px);
        }
    }
    @-webkit-keyframes bounce {
        from {
            transform: translateY(0px);
        }
        to {
            transform: translateY(-15px);
        }
    }
}


/**************************************** DESKTOP VERSION ****************************************/

/**************** TITLE ****************/

@media screen and (min-width:1080px) {
    .title {
        display: grid;
        grid-template-columns: 1fr 380px 380px 380px 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: ". title1 title2 greeting ." ". title3 title3 title3 ." ". . scroll . .";
        background-image: url('IMG/Landing-page.jpg');
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        /*    justify-self: center, start, end*/
        /*    align-self: center, start, end*/
    }

    .title1 {
        grid-area: title1;
        justify-self: center;
        align-self: end;
    }

    .title2 {
        grid-area: title2;
        justify-self: center;
        align-self: end;
        content: url('IMG/avatar.png');
        height: 250px;
    }
    .title3 {
        grid-area: title3;
        justify-self: center;
        align-self: center;
        margin: 0;
    }

    .greeting {
        grid-area: greeting;
        justify-self: start;
        align-self: end;
        margin-bottom: 50px;
    }

    .scroll {
        grid-area: scroll;
        justify-self: center;
        align-self: end;
        margin-bottom: 20px;
    }
}

/**************** BODY ****************/

@media screen and (min-width:736px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr 380px 380px 380px 1fr;
        grid-template-areas: ". header header header ." ". content1 content1 content1 ." ". content2 content2 content2 ." ". content3 content3 content3 ." ". footer footer footer .";
    }

}


/**************************************** CONTENT ****************************************/

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "header header" "content1 content1" "content2 content2" "content3 content3" "footer footer";
    grid-gap: 10px;
}

.grid div:nth-child(even) {
    background-color: red;
}

.grid div:nth-child(odd) {
    background-color: green;
}

.header {
    grid-area: header;
    height: 100vh;
}

.sidebar {
    grid-area: sidebar;
    height: 100vh;
}

.content1 {
    grid-area: content1;
    height: 100vh;
}

.content2 {
    grid-area: content2;
    height: 100vh;
}

.content3 {
    grid-area: content3;
    height: 100vh;
}

.footer {
    grid-area: footer;
    height: 100vh;
}

/**************************************/

section {
    position: relative;
    width: 100%;
    height: 100%;
}

section::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 80%;
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .8) 80%, rgba(0, 0, 0, .8) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .8) 80%, rgba(0, 0, 0, .8) 100%);
}
/**********************************************************/

.firefly {
  width:4px;
  height:4px;
  position:absolute;
  background-color: #ecc45e;
  box-shadow:0px 0px 17px 2px wheat;
  border-radius: 50%;
}

.container {
/*   width: 30%; */
          grid-area: title;
        justify-self: center;
        align-self: end;
        height: 250px;
  height: 100%;
  width: 100%;
  margin: 0 auto;
    position:absolute;

}
/**********************************************************/

#section10 a span {
    position: absolute;
    bottom: 100px;
    left: 50%;
    width: 30px;
    height: 50px;
    margin-left: -15px;
    border: 2px solid #fff;
    border-radius: 50px;
    box-sizing: border-box;
}

#section10 a span::before {
    position: absolute;
    top: 10px;
    left: 50%;
    content: '';
    width: 6px;
    height: 6px;
    margin-left: -3px;
    background-color: #fff;
    border-radius: 100%;
    -webkit-animation: sdb10 2s infinite;
    animation: sdb10 2s infinite;
    box-sizing: border-box;
}

@-webkit-keyframes sdb10 {
    0% {
        -webkit-transform: translate(0, 0);
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    80% {
        -webkit-transform: translate(0, 20px);
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes sdb10 {
    0% {
        transform: translate(0, 0);
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    80% {
        transform: translate(0, 20px);
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}



autoprefixer( {
    grid: true
}

)
